$monospace-font: Menlo, Monaco, Consolas, 'Courier New', monospace;
$line-space: 22px;

.markdown-body {
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
    color: #333;

    background-image: linear-gradient(
                    90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(
                    1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
    background-size: 20px 20px;
    background-position: 50%;

    h1:before {
        content: ' ';
        display: inline-block;
        width: 18px;
        height: 24px;
        padding-right: 12px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.8' height='24' overflow='visible'%3E%3Cdefs/%3E%3Cpath d='M3.43 24h11.9c2.3 0 3.5-1.2 3.5-3.5V10.3c0-1.4-.2-2.1-1.1-3L11.53 1c-.9-.9-1.6-1.1-2.8-1.1h-5.3c-2.3 0-3.5 1.2-3.5 3.5v17c.1 2.4 1.2 3.6 3.5 3.6zm.1-1.8c-1.2 0-1.7-.6-1.7-1.7V3.6c0-1.1.6-1.7 1.8-1.7h5v6.5c0 1.4.7 2.1 2.1 2.1h6.4v10.1c0 1.1-.6 1.7-1.8 1.7H3.53zm7.3-13.5c-.4 0-.6-.2-.6-.6V2.2l6.4 6.6h-5.8z'/%3E%3C/svg%3E") no-repeat;
        background-size: 18px 24px;
    }

    h2, h3, h4, h5, h6, p, table, pre, blockquote, ul, ol {
        margin-left: 30px;
        margin-right: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.5;
        margin-top: 35px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    h2 {
        padding-bottom: 12px;
        font-size: 24px;
        border-bottom: 1px solid #ececec;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 0;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        margin-top: 5px;
    }

    p {
        line-height: inherit;
        margin-top: $line-space;
        margin-bottom: $line-space;
    }

    img {
        max-width: 100%;
    }

    hr {
        border-top: 1px solid #ddd;
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    code {
        font-family: $monospace-font;
        word-break: break-word;
        border-radius: 2px;
        overflow-x: auto;
        background-color: #fff5f5;
        color: #ff502c;
        font-size: 0.87em;
        padding: 0.065em 0.4em;
    }

    pre {
        font-family: $monospace-font;
        overflow: auto;
        position: relative;
        line-height: 1.75;

        > code {
            font-size: 12px;
            padding: 15px 12px;
            margin: 0;
            word-break: normal;
            display: block;
            overflow-x: auto;
            color: #333;
            background: #f8f8f8;
        }
    }

    a {
        text-decoration: none;
        color: #0269c8;
        padding-bottom: 1px;
        border-bottom: 1px solid #d1e9ff;

        &:hover,
        &:active {
            color: #275b8c;
        }
    }

    table {
        border: 1px solid #00000044;
        border-radius: 8px;
        border-spacing: 0;
        display: inline-block !important;
        font-size: 12px;
        width: auto;
        max-width: 100%;
        overflow: auto;
    }

    thead {
        background: #f6f6f6;
        color: #000;
        text-align: left;
    }

    tr:nth-child(2n) {
        background-color: #fcfcfc;
    }

    th,
    td {
        padding: 12px 7px;
        line-height: 24px;
    }

    td {
        min-width: 120px;
    }

    blockquote {
        color: #666;
        padding: 1px 23px;
        margin: 22px 30px;
        border-left: 4px solid #cbcbcb;
        background-color: #f8f8f8;

        &::after {
            display: block;
            content: '';
        }

        & > p {
            margin: 10px 0;
        }
    }

    ol,
    ul {
        padding-left: 28px;

        li {
            margin-bottom: 0;
            list-style: inherit;

            & .task-list-item {
                list-style: none;

                ul,
                ol {
                    margin-top: 0;
                }
            }
        }

        ul,
        ol {
            margin-top: 3px;
        }
    }

    ol li {
        padding-left: 6px;
    }

    @media (max-width: 720px) {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 18px;
        }
    }

    pre, table {
        border: 1px solid #00000044;
        border-radius: 8px;
    }

    pre:before {
        content: "Code";
        display: block;
        color: #333;
        border-radius: 8px 8px 0 0;
        font: 900 12px/1 sans-serif;
        background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17.9' overflow='visible'%3E%3Cdefs/%3E%3Cpath d='M9.39 17.8c.5.2 1-.1 1.2-.7l4.6-15.9c.2-.6-.1-1.1-.6-1.2-.5-.2-1 .1-1.2.7l-4.6 15.9c-.2.6.1 1.1.6 1.2zm8.4-2.8l5.8-5.3c.5-.4.5-1.1 0-1.5l-5.8-5.3c-.4-.4-1-.4-1.4 0-.4.4-.3 1 .1 1.4l5.1 4.6-5.1 4.6c-.4.4-.5 1-.1 1.4.4.4 1 .5 1.4.1zm-11.6 0c.4.4 1 .4 1.4 0 .4-.4.3-1-.1-1.4L2.39 9l5.1-4.6c.4-.4.5-1 .1-1.4-.4-.4-.9-.4-1.4 0L.39 8.3c-.5.4-.5 1.1 0 1.5l5.8 5.2z'/%3E%3C/svg%3E") no-repeat 12px/18px;
        padding: 8px 12px 8px 36px;
    }

    blockquote:before {
        content: ' ';
        display: block;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='15.9' overflow='visible'%3E%3Cdefs/%3E%3Cpath d='M18.9 15.9c2.8 0 5.1-1.9 5.1-4.8 0-2.7-1.9-4.6-4.4-4.6-1.2 0-2.3.5-2.9 1.4.6-2.8 2.8-4.7 5.8-4.8.9-.1 1.5-.7 1.5-1.5 0-1-.8-1.6-1.9-1.6-4.7 0-8.9 4-8.9 9.4-.1 3.9 2.4 6.5 5.7 6.5zM5.8 15.9c2.8 0 5.1-1.9 5.1-4.8 0-2.7-1.9-4.6-4.4-4.6-1.3 0-2.3.5-2.9 1.4.6-2.8 2.8-4.7 5.8-4.8.8-.1 1.4-.7 1.4-1.5C10.8.6 10 0 8.9 0 4.2 0 0 4 0 9.4c0 3.9 2.5 6.5 5.8 6.5z'/%3E%3C/svg%3E") no-repeat 0 18px/18px;
        height: 48px;
        margin-left: -10px;
    }

    blockquote > :first-child {
        margin-top: -36px;
    }

    blockquote > * {
        margin-left: 24px !important;
    }
}
